# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude from Asset Library download
/tests            export-ignore
/tests/**         export-ignore
/addons/gdUnit4   export-ignore
/addons/gdUnit4/** export-ignore
